*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0; /*16 é referente a base e parte de cima, 0 laterais*/
    border-bottom: 1px solid #ccc;
}

.submenu {
    display: block;
    background-color: orange;
    position: absolute;
    left: 0;
    max-width: 300px;
    top: 0;
}

.menu > li { /* > significa que sera aplicado apenas no LI de .menu*/
    float: left;
    list-style: none;
    padding: 16px; /*Só 16 aplica em todas as bordas*/
    border-top: 4px solid transparent;
    position: relative; /* contém o elemento dentro do container*/
}

.clear {
    clear: both;
}

.menu li:hover .submenu { /*hover quando passar o mouse por cima*/
    display: block; 
}

.submenu li {
    display: block;
    padding: 8px;
}

/*parei no 17:32*/