* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

/* regra do container */

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

/* estilizando o Header, para alinhar na vertical, align-items: center */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* estilizar o header */

header {
  padding: 16px 0 0;
  border-bottom: 1px solid #333;
  margin-bottom: 56px;
}

/* Criar uma regra para o UL que esta dentro do LI */
/* o submenu menu nao estara visivel */

.submenu {
  display: none;
  border-color: 1px solid red;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 300px;
  top: 100%;
}

/* estilizar o li dentro do menu */
.menu > li {
  float: left;
  list-style: none;
  padding: 16px;
  border-top: 4px solid transparent;
  position: relative;
}

/* no html tenho que criar um elemento para esse cara */
.clear {
  clear: both;
}

.menu li:hover .submenu {
  display: block;
}

.menu li:hover {
  border-color: green;
}
/* eles estarao o embaixo do outro */

.submenu li {
  display: block;
  padding: 8px;
}

/* fazendo o layout em colunas */
.conteudo {
  display: grid;
  grid-template-columns: 70% 30%;
}

.noticia img {
  max-width: 100%;
}

.destaque {
  margin-bottom: 56px;
}

/* estilizar a sessao de destaque */

.destaque .noticia a {
  display: flex;
  font-size: 2em;
}

/* aplicar uma margem direita da imagem */

.destaque .noticia img {
  margin-right: 8px;
}

/* margem inferior */

section h2 {
  margin-bottom: 32px;
}

/* estilizar a barra lateral */

aside {
  padding-left: 40px;
}

aside .noticia {
  margin-bottom: 24px;
}

.noticias {
  display: grid;
  grid-template-columns: repeat(3, 32.6%);
  column-gap: 1%;
  row-gap: 5%;
}* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

/* regra do container */

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

/* estilizando o Header, para alinhar na vertical, align-items: center */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* estilizar o header */

header {
  padding: 16px 0 0;
  border-bottom: 1px solid #333;
  margin-bottom: 56px;
}

/* Criar uma regra para o UL que esta dentro do LI */
/* o submenu menu nao estara visivel */

.submenu {
  display: none;
  border-color: 1px solid red;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 300px;
  top: 100%;
}

/* estilizar o li dentro do menu */
.menu > li {
  float: left;
  list-style: none;
  padding: 16px;
  border-top: 4px solid transparent;
  position: relative;
}

/* no html tenho que criar um elemento para esse cara */
.clear {
  clear: both;
}

.menu li:hover .submenu {
  display: block;
}

.menu li:hover {
  border-color: red;
}
/* eles estarao o embaixo do outro */

.submenu li {
  display: block;
  padding: 8px;
}

/* fazendo o layout em colunas */
.conteudo {
  display: grid;
  grid-template-columns: 70% 30%;
}

.noticia img {
  max-width: 100%;
}

.destaque {
  margin-bottom: 56px;
}

/* estilizar a sessao de destaque */

.destaque .noticia a {
  display: flex;
  font-size: 2em;
}

/* aplicar uma margem direita da imagem */

.destaque .noticia img {
  margin-right: 8px;
}

/* margem inferior */

section h2 {
  margin-bottom: 32px;
}

/* estilizar a barra lateral */

aside {
  padding-left: 40px;
}

aside .noticia {
  margin-bottom: 24px;
}

.noticias {
  display: grid;
  grid-template-columns: repeat(3, 32.6%);
  column-gap: 1%;
  row-gap: 5%;
}

@media screen and (max-width: 767px) { /*configuração para responsividade mobile*/
  .conteudo {
    display: block;
  }

  .container {
    max-width: 90%;
  }
  
  .destaque .noticia a {
    display: block;
    font-size: 1.5em;
  }

  .destaque .noticia img {
    margin-right: 0;
  }

  .noticias {
    display: block;
  }

  .noticias .noticia {
    margin-bottom: 32px;
  }

  aside {
    padding-left: 0;
  }

  header div.container {
    flex-direction: column;
  }
  
  .submenu { /* Configurando Submenu*/
    display: block;
    width: 100%;
    position: relative;
    border: none;
  }

  .menu { /* Configurando menu invisivel*/
    display: none;
  }

  .menu > li { /* Configurando menu linhas*/
    clear: both;
  }

  .submenu li {
    display: block;
    padding: 8px;
  }

  .botao-menu { /* Configurando botao-menu*/
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 16px;
  }

  .botao-menu button {
    padding: 8px;
  }
}